In [1]:
#Question 1: Initial Trends on Passengers and Flights

In [2]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [23]:
# Load in CSV
data2019 = pd.read_csv("Resources/BoT.DataPassengersFlight2019.csv")
data2020 = pd.read_csv("Resources/BoT.DataPassengersFlight2020.csv")

In [24]:
data2019

,Year,Month,DomesticPassengers,InternationalPassengers,TotalPassengers,DomesticFlights,InternationalFlights,TotalFlights
0,2019,Jan,"58,034,262","18,690,817","76,725,079","667,659","135,773","803,432"
1,2019,Feb,"55,679,481","16,280,536","71,960,017","608,029","119,724","727,753"
2,2019,Mar,"70,234,684","20,295,947","90,530,631","729,251","140,966","870,217"
3,2019,Apr,"66,938,654","20,019,304","86,957,958","709,126","141,759","850,885"
4,2019,May,"71,365,660","20,995,113","92,360,773","740,639","139,760","880,399"
5,2019,Jun,"72,790,418","22,747,453","95,537,871","741,605","144,559","886,164"
6,2019,Jul,"75,281,916","23,907,859","99,189,775","768,825","151,106","919,931"
7,2019,Aug,"72,729,540","23,239,338","95,968,878","769,850","147,707","917,557"
8,2019,Sep,"63,991,365","18,842,310","82,833,675","705,233","123,258","828,491"
9,2019,Oct,"69,936,836","18,973,444","88,910,280","740,347","126,977","867,324"
10,2019,Nov,"64,827,417","17,575,113","82,402,530","694,547","120,443","814,990"
11,2019,Dec,"69,737,526","19,859,635","89,597,161","721,601","131,526","853,127"

In [25]:
data2020

,Year,Month,DomesticPassengers,InternationalPassengers,TotalPassengers,DomesticFlights,InternationalFlights,TotalFlights
0,2020,Jan,"61,626,465","18,946,132","80,572,597","700,696","129,476","830,172"
1,2020,Feb,"59,861,408","15,823,231","75,684,639","660,464","115,512","775,976"
2,2020,Mar,"34,417,701","8,927,886","43,345,587","616,226","88,224","704,450"
3,2020,Apr,"2,879,556","396,394","3,275,950","217,243","9,017","226,260"
4,2020,May,"8,238,757","369,317","8,608,074","214,411","7,838","222,249"
5,2020,Jun,"16,207,969","801,741","17,009,710","273,131","11,799","284,930"
6,2020,Jul,"22,878,828","1,853,462","24,732,290","410,014","25,261","435,275"
7,2020,Aug,"23,910,340","2,267,701","26,178,041","435,303","28,147","463,450"
8,2020,Sep,"23,854,435","2,265,050","26,119,485","379,498","29,056","408,554"
9,2020,Oct,"28,026,415","2,951,660","30,978,075","410,113","35,599","445,712"
10,2020,Nov,"26,290,900","3,514,555","29,805,455","420,110","42,153","462,263"

In [33]:
combined = pd.merge(data2019, data2020, how="outer", on=["Year","Month"])
combined

,Year,Month,DomesticPassengers_x,InternationalPassengers_x,TotalPassengers_x,DomesticFlights_x,InternationalFlights_x,TotalFlights_x,DomesticPassengers_y,InternationalPassengers_y,TotalPassengers_y,DomesticFlights_y,InternationalFlights_y,TotalFlights_y
0,2019,Jan,"58,034,262","18,690,817","76,725,079","667,659","135,773","803,432",NaN,NaN,NaN,NaN,NaN,NaN
1,2019,Feb,"55,679,481","16,280,536","71,960,017","608,029","119,724","727,753",NaN,NaN,NaN,NaN,NaN,NaN
2,2019,Mar,"70,234,684","20,295,947","90,530,631","729,251","140,966","870,217",NaN,NaN,NaN,NaN,NaN,NaN
3,2019,Apr,"66,938,654","20,019,304","86,957,958","709,126","141,759","850,885",NaN,NaN,NaN,NaN,NaN,NaN
4,2019,May,"71,365,660","20,995,113","92,360,773","740,639","139,760","880,399",NaN,NaN,NaN,NaN,NaN,NaN
5,2019,Jun,"72,790,418","22,747,453","95,537,871","741,605","144,559","886,164",NaN,NaN,NaN,NaN,NaN,NaN
6,2019,Jul,"75,281,916","23,907,859","99,189,775","768,825","151,106","919,931",NaN,NaN,NaN,NaN,NaN,NaN
7,2019,Aug,"72,729,540","23,239,338","95,968,878","769,850","147,707","917,557",NaN,NaN,NaN,NaN,NaN,NaN
8,2019,Sep,"63,991,365","18,842,310","82,833,675","705,233","123,258","828,491",NaN,NaN,NaN,NaN,NaN,NaN
9,2019,Oct,"69,936,836","18,973,444","88,910,280","740,347","126,977","867,324",NaN,NaN,NaN,NaN,NaN,NaN
10,2019,Nov,"64,827,417","17,575,113","82,402,530","694,547","120,443","814,990",NaN,NaN,NaN,NaN,NaN,NaN
11,2019,Dec,"69,737,526","19,859,635","89,597,161","721,601","131,526","853,127",NaN,NaN,NaN,NaN,NaN,NaN
12,2020,Jan,NaN,NaN,NaN,NaN,NaN,NaN,"61,626,465","18,946,132","80,572,597","700,696","129,476","830,172"
13,2020,Feb,NaN,NaN,NaN,NaN,NaN,NaN,"59,861,408","15,823,231","75,684,639","660,464","115,512","775,976"
14,2020,Mar,NaN,NaN,NaN,NaN,NaN,NaN,"34,417,701","8,927,886","43,345,587","616,226","88,224","704,450"
15,2020,Apr,NaN,NaN,NaN,NaN,NaN,NaN,"2,879,556","396,394","3,275,950","217,243","9,017","226,260"
16,2020,May,NaN,NaN,NaN,NaN,NaN,NaN,"8,238,757","369,317","8,608,074","214,411","7,838","222,249"
17,2020,Jun,NaN,NaN,NaN,NaN,NaN,NaN,"16,207,969","801,741","17,009,710","273,131","11,799","284,930"
18,2020,Jul,NaN,NaN,NaN,NaN,NaN,NaN,"22,878,828","1,853,462","24,732,290","410,014","25,261","435,275"
19,2020,Aug,NaN,NaN,NaN,NaN,NaN,NaN,"23,910,340","2,267,701","26,178,041","435,303","28,147","463,450"
20,2020,Sep,NaN,NaN,NaN,NaN,NaN,NaN,"23,854,435","2,265,050","26,119,485","379,498","29,056","408,554"
21,2020,Oct,NaN,NaN,NaN,NaN,NaN,NaN,"28,026,415","2,951,660","30,978,075","410,113","35,599","445,712"
22,2020,Nov,NaN,NaN,NaN,NaN,NaN,NaN,"26,290,900","3,514,555","29,805,455","420,110","42,153","462,263"

In [45]:
combined.head()

,Year,Month,Domestic Passengers 2019,International Passengers 2019,Total Passengers 2019,Domestic Flights 2019,International Flights 2019,Total Flights 2019,Domestic Passengers 2020,International Passengers 2020,Total Passengers 2020,Domestic Flights 2020,International Flights 2020,Total Flights 2020
0,2019,Jan,"58,034,262","18,690,817","76,725,079","667,659","135,773","803,432",NaN,NaN,NaN,NaN,NaN,NaN
1,2019,Feb,"55,679,481","16,280,536","71,960,017","608,029","119,724","727,753",NaN,NaN,NaN,NaN,NaN,NaN
2,2019,Mar,"70,234,684","20,295,947","90,530,631","729,251","140,966","870,217",NaN,NaN,NaN,NaN,NaN,NaN
3,2019,Apr,"66,938,654","20,019,304","86,957,958","709,126","141,759","850,885",NaN,NaN,NaN,NaN,NaN,NaN
4,2019,May,"71,365,660","20,995,113","92,360,773","740,639","139,760","880,399",NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
newdf = combined[['Month','Domestic Passengers 2019','Domestic Passengers 2020']]
#newdf['Domestic Passengers 2019'].replace(0, np.nan, inplace = True)
newdf.fillna(0, inplace = True)

C:\Users\alexe\anaconda3\lib\site-packages\pandas\core\frame.py:4317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [66]:
newdf.isnull().sum()

Month                       0
Domestic Passengers 2019    0
Domestic Passengers 2020    0
dtype: int64

In [68]:
newdf

   Month Domestic Passengers 2019 Domestic Passengers 2020
0    Jan               58,034,262                        0
1    Feb               55,679,481                        0
2    Mar               70,234,684                        0
3    Apr               66,938,654                        0
4    May               71,365,660                        0
5    Jun               72,790,418                        0
6    Jul               75,281,916                        0
7    Aug               72,729,540                        0
8    Sep               63,991,365                        0
9    Oct               69,936,836                        0
10   Nov               64,827,417                        0
11   Dec               69,737,526                        0
12   Jan                        0               61,626,465
13   Feb                        0               59,861,408
14   Mar                        0               34,417,701
15   Apr                        0                2,879,556
16   May                        0                8,238,757
17   Jun                        0               16,207,969
18   Jul                        0               22,878,828
19   Aug                        0               23,910,340
20   Sep                        0               23,854,435
21   Oct                        0               28,026,415
22   Nov                        0               26,290,900

In [69]:
newdf.groupby('Month').sum()

      Domestic Passengers 2019  Domestic Passengers 2020
Month
Apr                        NaN                       NaN
Aug                        NaN                       NaN
Dec                 69,737,526                       0.0
Feb                        NaN                       NaN
Jan                        NaN                       NaN
Jul                        NaN                       NaN
Jun                        NaN                       NaN
Mar                        NaN                       NaN
May                        NaN                       NaN
Nov                        NaN                       NaN
Oct                        NaN                       NaN
Sep                        NaN                       NaN

In [70]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 22
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Month                     23 non-null     object
 1   Domestic Passengers 2019  23 non-null     object
 2   Domestic Passengers 2020  23 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

In [76]:
newdf['Domestic Passengers 2019'] = newdf['Domestic Passengers 2019'].str.replace(",","")

<ipython-input-76-588055e8513c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['Domestic Passengers 2019'] = newdf['Domestic Passengers 2019'].str.replace(",","")

In [85]:
newdf['Domestic Passengers 2020'] = newdf['Domestic Passengers 2020'].str.replace(",","")

<ipython-input-85-35c3451a7e62>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['Domestic Passengers 2020'] = newdf['Domestic Passengers 2020'].str.replace(",","")

In [79]:
newdf['Domestic Passengers 2019'].fillna(0, inplace = True)

C:\Users\alexe\anaconda3\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [86]:
newdf['Domestic Passengers 2020'].fillna(0, inplace = True)

C:\Users\alexe\anaconda3\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [83]:
newdf['Domestic Passengers 2019'] = newdf['Domestic Passengers 2019'].astype(int)

<ipython-input-83-cb0bea141e55>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['Domestic Passengers 2019'] = newdf['Domestic Passengers 2019'].astype(int)

In [87]:
newdf['Domestic Passengers 2020'] = newdf['Domestic Passengers 2020'].astype(int)

<ipython-input-87-01949cb3aff9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['Domestic Passengers 2020'] = newdf['Domestic Passengers 2020'].astype(int)

In [88]:
newdf1 = newdf.groupby('Month')
newdf1.sum()

       Domestic Passengers 2019  Domestic Passengers 2020
Month
Apr                    66938654                   2879556
Aug                    72729540                  23910340
Dec                    69737526                         0
Feb                    55679481                  59861408
Jan                    58034262                  61626465
Jul                    75281916                  22878828
Jun                    72790418                  16207969
Mar                    70234684                  34417701
May                    71365660                   8238757
Nov                    64827417                  26290900
Oct                    69936836                  28026415
Sep                    63991365                  23854435