In [ ]:
#Cancellation Data

In [1]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# Load in CSV
data19 = pd.read_csv("Resources/cancels2019.csv")
data20 = pd.read_csv("Resources/cancels2020.csv")

In [8]:
data19_df = pd.DataFrame(data19)
data19_df

,Unnamed: 0,Scheduled Flights,Cancelled Flights,Percent Cancelled
0,New York (JFK),2062,30,1.45%
1,Los Angeles (LAX),5271,59,1.12%
2,Chicago (ORD),8183,354,4.33%
3,Dallas/Fort Worth (DFW),19055,733,3.85%
4,Denver (DEN),1238,42,3.39%
5,Totals,35809,1218,3.40%

In [10]:
data20_df = pd.DataFrame(data20)
data20_df

,Unnamed: 0,Scheduled Flights,Cancelled Flights,Percent Cancelled
0,New York (JFK),1093,510,46.66%
1,Los Angeles (LAX),3486,956,27.42%
2,Chicago (ORD),5092,1768,34.72%
3,Dallas/Fort Worth (DFW),14189,5492,38.71%
4,Denver (DEN),892,251,28.14%
5,Totals,24752,8977,36.27%